{% extends 'layout.html' %}

{% block content %}
    <div class="content-sec">
        <h2 class="mt-3 mb-5">About Flask Blog</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi nihil ipsum iure minus harum, nam iste. Quos facere, sunt placeat doloremque, at, accusamus in impedit culpa quisquam a mollitia cupiditate!
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi nihil ipsum iure minus harum, nam iste. Quos facere, sunt placeat doloremque, at, accusamus in impedit culpa quisquam a mollitia cupiditate!
        </p>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi nihil ipsum iure minus harum, nam iste. Quos facere, sunt placeat doloremque, at, accusamus in impedit culpa quisquam a mollitia cupiditate!
        </p>
    </div>
{% endblock %}